<div class="footer  text-white ">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 mb-3 p-5">
          <h3 class="text-uppercase">Location</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4 mb-3 p-5">
          <h3 class="text-uppercase">Around the Web</h3>
          <div class="d-flex justify-content-center gap-3">
            <i class="fa-brands fa-facebook fs-3"></i>
            <i class="fa-brands fa-twitter fs-3"></i>
            <i class="fa-brands fa-linkedin-in fs-3"></i>
            <i class="fa-solid fa-globe fs-3"></i>
          </div>
        </div>
        <div class="col-md-4 mb-3 p-5">
          <h3 class="text-uppercase">About Freelancer</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-white py-3 Copyright">
    <p class="mb-0">Copyright © Your Website 2021</p>
  </div>
  