.Navbar-bg {
  background-color: #2c3e50;
}
.nav-padding {
  padding: 30px 60px;
}
.nav-padding-scrollY {
    padding: 15px 60px;
  }
.active {
  background-color: #1abc9c;
}
@media (max-width: 767px) {
   
    .nav-padding {
        padding: 10px 20px;
      }
      .nav-padding-scrollY {
          padding: 10px 10px;
        }
    li{
        width: 20%;
    }
}

